numpy
matplotlib
torch
torchvision
tensorboardX
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
ffmpeg==1.4
idna==2.10
numpy
opencv-python
pandas
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
scenedetect==0.5.5
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.5
